.box1 {
    background-color: #140e19;
    height: 95px;
}

.box2 {
    background-color: #000000 !important;
    height: 40px !important;
}

.redes {
    font-size: 40px !important;
    color: #e3a731 !important;
}

.textos {
    color: #e3a731 !important;
}